{% extends 'agent.html.twig' %}

{% block title %}Facture{% endblock %}

{% block main %}
    <h1>Ajouter Facture</h1>

    {{ include('facture/_form.html.twig') }}

    <a href="{{ path('facture_index') }}">retour vers liste</a>
{% endblock %}
